.wallet-page-container {
  background-color: #2FC18C;
  background-image: url('../images/foto\ fundo.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 50%;
  border-radius: 10px;
  position: fixed;
}

.table-container {
  background-color: #003BE5;
  border-radius: 10px;
  height: 75%;
  width: 90%;
  display: flex;
  margin-top: 11.1%;
  align-items: center;
  flex-direction: column-reverse;
}
