.table-body {
  height: 58%;
  border-radius: 10px;
  width: 90%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0px;
}

.table-body thead tr {
  border-bottom: solid 2px antiquewhite;
}

.table-body thead tr th {
  padding: 5px;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  width: 11.11%;
  font-weight: 600;
  position: relative;
}

.table-body thead tr th:not(:last-child)::before {
  background-color: antiquewhite;
  position: absolute;
  content: '';
  right: 0;
  top:25%;
  border-left: 2px solid transparent;
  height: 60%;
}

.table-body tbody {
  overflow: hidden;
}

.table-body tbody tr {
  border-bottom: 1.5px solid #2FC18C;
  height: 40px;
}

.table-body tbody tr td {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  color: #2FC18C;
  width: 11.11%;
  height: 55px;
  padding: 5px;
}

.buttons-cell {
  height: 100%;
  width: 100%;
}

.buttons-cell button {
  border: unset;
  background-color: transparent;
}

.red {
  color: #DF3C6D;
  font-size: 22px;
  font-weight: 700;
}

.green {
  color: #2FC18C;
  font-size: 22px;
  font-weight: 700;
}
