@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap');

body {
  background-color: #171820;
  color: antiquewhite;
  font-family: 'Epilogue', sans-serif;
}
